{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Greetings!</h1>
    <p>My name is Chris. I'm working on this website, a DnD campaign and session planning app, 
        as my final project for Harvard's Introduction to Computer Science class, CS50. Right now, 
        it is very bare-bones, as I'm implementing the intitial functionality of the site. I hope you'll stick around as the app develops, 
        and see what exciting things I have in store.<br><br>Sincerely,<br>Chris</p>
{% endblock %}